@font-face {
	font-family:futura;
	src: url(bold_futura.ttf);
}
@font-face {
	font-family: futuraLight;
	src: url(light_futura.ttf);
}

html{
	font-family: futura;
	background-color: white;
	height: 100%;
}

body{
	margin: 0 auto;
	height: 100%;
}

#wrapper{
	min-height: 100%;
	position: relative;
}

header{
	background-image: url("headerImg.jpg");
	background-color: black;
}

.trackName{
	color:black;
	font-size: 15px;
	text-align: left;
	padding: 2px;
	margin-top: 20px;
}

.trackArtist{
	color:black;
	font-size: 15px;
	text-align: left;
	padding: 2px;
}

.pageName{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
	text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    font-size: 50px;
    letter-spacing: .03em;
}

nav{
	font-family: futuraLight;
	width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    position: absolute;
	background-color: rgba(0,180,136,0.8);
	text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    font-size: 15px;
}

.trackInputTitle,.trackInputTitleText, .artistInputTitle, .artistInputTitleText {
	font-family: futuraLight;
	color: white;
	padding-left: 10px;
    padding-right: 10px;
	float:left;
} 

.submitButton{
	font-family: futuraLight;
	float:left;
	padding-left: 10px;
    padding-right: 10px;
}

.about{
	font-family: futuraLight;
	position: relative;
	color: white;
	float: right;
}

input{
	font-family: futuraLight;
}

.artwork{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	margin-top: 300px;
	margin-bottom: 300px;


}

.painting {
	padding-right: 10%;
	padding-left: 10%;
	width: 80%;
 }

.phrase {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-family: futura;
	font-size: 30px;
	color:white;
	letter-spacing: .1em;
	text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 
	line-height: 45px

}

footer {
	font-family: futuraLight;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
 }

.made, .powerMusix, .powerRijks {
	font-family: futuraLight;
	position: relative;
	float:left;
	padding-left: 10px;
	padding-bottom: 10px;
}

.aboutPage {
	font-family: futuraLight;
	position: relative;
	font-size: 50px;
	text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    text-align: center; 
}

content {
	font-family: futuraLight;
	position: absolute;
    margin-top: 100px;
    text-align: center;
    width: 70%;
    left: 15%;
    padding-bottom: 50px;
    letter-spacing: .01em;
    line-height: 25px
}